In [4]:
#importing libraries
import numpy as np 
import pandas as pan 
from sklearn.feature_extraction.text import CountVectorizer
#import spacy

In [5]:
rawData = pan.read_table("data/moviereviews.tsv")

In [6]:
rawData.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [7]:
rawData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   2000 non-null   object
 1   review  1965 non-null   object
dtypes: object(2)
memory usage: 31.4+ KB

**Checking what the data looks like at this point**

In [8]:
rawData["review"][0]

'how do films like mouse hunt get into theatres ? \nisn\'t there a law or something ? \nthis diabolical load of claptrap from steven speilberg\'s dreamworks studio is hollywood family fare at its deadly worst . \nmouse hunt takes the bare threads of a plot and tries to prop it up with overacting and flat-out stupid slapstick that makes comedies like jingle all the way look decent by comparison . \nwriter adam rifkin and director gore verbinski are the names chiefly responsible for this swill . \nthe plot , for what its worth , concerns two brothers ( nathan lane and an appalling lee evens ) who inherit a poorly run string factory and a seemingly worthless house from their eccentric father . \ndeciding to check out the long-abandoned house , they soon learn that it\'s worth a fortune and set about selling it in auction to the highest bidder . \nbut battling them at every turn is a very smart mouse , happy with his run-down little abode and wanting it to stay that way . \nthe story alternates between unfunny scenes of the brothers bickering over what to do with their inheritance and endless action sequences as the two take on their increasingly determined furry foe . \nwhatever promise the film starts with soon deteriorates into boring dialogue , terrible overacting , and increasingly uninspired slapstick that becomes all sound and fury , signifying nothing . \nthe script becomes so unspeakably bad that the best line poor lee evens can utter after another run in with the rodent is : " i hate that mouse " . \noh cringe ! \nthis is home alone all over again , and ten times worse . \none touching scene early on is worth mentioning . \nwe follow the mouse through a maze of walls and pipes until he arrives at his makeshift abode somewhere in a wall . \nhe jumps into a tiny bed , pulls up a makeshift sheet and snuggles up to sleep , seemingly happy and just wanting to be left alone . \nit\'s a magical little moment in an otherwise soulless film . \na message to speilberg : if you want dreamworks to be associated with some kind of artistic credibility , then either give all concerned in mouse hunt a swift kick up the arse or hire yourself some decent writers and directors . \nthis kind of rubbish will just not do at all . \n'

**The control characters are actually part of the formatting, and thus can teach some things about the user of the review**
<br/>
**They will not be removed**<br/>
**The value can be read in its human readable form if printed**

In [9]:
print(rawData["review"][0])

how do films like mouse hunt get into theatres ?
isn't there a law or something ?
this diabolical load of claptrap from steven speilberg's dreamworks studio is hollywood family fare at its deadly worst .
mouse hunt takes the bare threads of a plot and tries to prop it up with overacting and flat-out stupid slapstick that makes comedies like jingle all the way look decent by comparison .
writer adam rifkin and director gore verbinski are the names chiefly responsible for this swill .
the plot , for what its worth , concerns two brothers ( nathan lane and an appalling lee evens ) who inherit a poorly run string factory and a seemingly worthless house from their eccentric father .
deciding to check out the long-abandoned house , they soon learn that it's worth a fortune and set about selling it in auction to the highest bidder .
but battling them at every turn is a very smart mouse , happy with his run-down little abode and wanting it to stay that way .
the story alternates between unfunny scenes of the brothers bickering over what to do with their inheritance and endless action sequences as the two take on their increasingly determined furry foe .
whatever promise the film starts with soon deteriorates into boring dialogue , terrible overacting , and increasingly uninspired slapstick that becomes all sound and fury , signifying nothing .
the script becomes so unspeakably bad that the best line poor lee evens can utter after another run in with the rodent is : " i hate that mouse " .
oh cringe !
this is home alone all over again , and ten times worse .
one touching scene early on is worth mentioning .
we follow the mouse through a maze of walls and pipes until he arrives at his makeshift abode somewhere in a wall .
he jumps into a tiny bed , pulls up a makeshift sheet and snuggles up to sleep , seemingly happy and just wanting to be left alone .
it's a magical little moment in an otherwise soulless film .
a message to speilberg : if you want dreamworks to be associated with some kind of artistic credibility , then either give all concerned in mouse hunt a swift kick up the arse or hire yourself some decent writers and directors .
this kind of rubbish will just not do at all .

In [16]:
rawData["label"][1]

'neg'

**Adding a col that turns the label into an integer to be able to treat it**

In [29]:
rawData["positive"] = rawData.apply(lambda row: 1 if row.label =="pos" else 0, axis=1)

In [34]:
rawData.head()

  label                                             review  positive
0   neg  how do films like mouse hunt get into theatres...         0
1   neg  some talented actresses are blessed with a dem...         0
2   pos  this has been an extraordinary year for austra...         1
3   pos  according to hollywood movies made in last few...         1
4   neg  my first press screening of 1998 and already i...         0

In [58]:
rawData = rawData[pan.notna(rawData['review'])]
rawData = rawData[pan.notna(rawData['positive'])]

**Training model**

In [59]:
from sklearn.model_selection import train_test_split

In [60]:
train, test = train_test_split(rawData, test_size=0.3, random_state=1)

In [61]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
from sklearn.naive_bayes import MultinomialNB

In [62]:
train

     label                                             review  positive
1041   pos  sometimes you just have to tip your hat to a f...         1
682    pos  note : some may consider portions of the follo...         1
62     neg  senseless ( r ) marlon wayans is a very talent...         0
626    pos  waiting at the train station near the beginnin...         1
336    neg  perhaps if the impostors didn't have so much g...         0
...    ...                                                ...       ...
1824   pos  an energetic , visually stunning , but intelle...         1
1112   pos  synopsis : in this cultural exploration , a ch...         1
1967   neg  whether you like the beatles or not , nobody w...         0
237    pos  the computer-animated comedy " shrek " is desi...         1
1077   neg  well , as i check my score card for what i've ...         0

[1375 rows x 3 columns]

In [63]:
# Create a pipeline which transforms phrases into normalized feature vectors and uses a bayes estimator
model_name = 'bayes classifier'

pipeline_bayes = Pipeline([
                ('count', CountVectorizer()),
                ('tfidf', TfidfTransformer()),
                ('gnb', MultinomialNB()),
                ])

# Train model using the created sklearn pipeline
model_bayes = pipeline_bayes.fit(train['review'], train['positive'])

**Testing the model**

In [66]:
testphrases = ['This is the worst movie I ever had the displeasurre to see', 'I FUCKING love this movie', 'That movie is kinda mid tbh', 'Completetly and utterly bad']
for testphrase in testphrases:
    resultx = model_bayes.predict([testphrase]) # use model_bayes for predictions with the other model
    dict = {0: 'Negative',  1: 'Positive'}
    print(testphrase + '-> ' + dict[resultx[0]])

This is the worst movie I ever had the displeasurre to see-> Negative
I FUCKING love this movie-> Positive
That movie is kinda mid tbh-> Negative
Completetly and utterly bad-> Negative